@import "../global/variables.scss";

.levels {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: #26335D;
  z-index: 11;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
  }
  &__option {
    &:hover {
      background-color: transparent;
    }
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &_1 {
      background-color: $secondary-color;
      border: 1px solid $secondary-color;
    }
    &_2 {
      background-color: #da7188;
      border: 1px solid #da7188;
    }
    &_3 {
      background-color: #bd69b1;
      border: 1px solid #bd69b1;
    }
    &_4 {
      background-color: #ad65c8;
      border: 1px solid #ad65c8;
    }
    &_5 {
      background-color: #985fe6;
      border: 1px solid #985fe6;
    }
    &_6 {
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }
  }
}