@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 112px 0;
}

.section-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 80px;
}

.btn {
  background-color: #8D5CF6;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid #8D5CF6;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn:hover {
  border: 1px solid #ffffff;
  background-color: transparent;
}

.header {
  background: transparent;
}

.header__container {
  padding: 20px 0;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-weight: 700;
  font-size: 24px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 21px;
          column-gap: 21px;
}

.menu__link {
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu__link:hover {
  color: #FF7B52;
}

.greeting {
  background-image: url("../assets/images/background.png");
}

.greeting__title {
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
}

.greeting__text {
  max-width: 50%;
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.advantages__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}

.advantages__item {
  background: #ffffff;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 35px 40px;
}

.advantages__img {
  width: 72px;
  height: 72px;
  margin: 0 auto 20px;
  padding: 15px;
  background-color: #FF7B52;
  border-radius: 50%;
}

.advantages__icon {
  width: 100%;
  height: 100%;
}

.advantages__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252B42;
  margin-bottom: 20px;
}

.advantages__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #737373;
}

.developers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.developers__card {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  max-width: 300px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.developers__photo {
  max-width: 300px;
  margin-bottom: 30px;
}

.developers__name {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #252B42;
}

.developers__text {
  margin-bottom: 10px;
  padding: 0 30px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #737373;
}

.developers__link img {
  width: 24px;
  -webkit-filter: brightness(0) invert(42%) sepia(92%) saturate(3566%) hue-rotate(239deg) brightness(100%) contrast(94%);
          filter: brightness(0) invert(42%) sepia(92%) saturate(3566%) hue-rotate(239deg) brightness(100%) contrast(94%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.developers__link:hover img {
  -webkit-filter: brightness(0) invert(71%) sepia(93%) saturate(3177%) hue-rotate(326deg) brightness(102%) contrast(101%);
          filter: brightness(0) invert(71%) sepia(93%) saturate(3177%) hue-rotate(326deg) brightness(102%) contrast(101%);
}

.footer {
  padding: 20px 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-rss {
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__logo-rss:hover {
  -webkit-filter: brightness(0) invert(71%) sepia(93%) saturate(3177%) hue-rotate(326deg) brightness(102%) contrast(101%);
          filter: brightness(0) invert(71%) sepia(93%) saturate(3177%) hue-rotate(326deg) brightness(102%) contrast(101%);
}

.footer__developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.footer__developers a {
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer__developers a:hover {
  color: #FF7B52;
}

body {
  background: #26335D;
  font-family: Montserrat;
  color: white;
}
