.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 112px 0 50px;

  @media screen and (max-width: 575px) {
    padding: 70px 0 30px;
  }
}

.section-title {
  padding: 0 8%;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 80px;
  text-align: center;

  @media screen and (max-width: 575px) {
    font-size: 32px;
    margin-bottom: 40px;
  }
}

.btn {
  background-color: $primary-color;
  padding: 15px 40px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 16px;
  color: $light-text-color;
  border: 1px solid $primary-color;
  transition: 0.3s;

  &:hover {
    // color: $primary-color;
    border: 1px solid $light-text-color;
    background-color: transparent;
  }
}

.games {
  position: absolute;
  background: #26335D;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
