.developers {
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  &__card {
    flex-basis: 33%;
    max-width: 300px;
    background-color: $light-text-color;
    // border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }

  &__photo {
    max-width: 300px;
    margin-bottom: 30px;
  }

  &__name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: $text-color;
  }

  &__text {
    margin-bottom: 10px;
    padding: 0 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $second-text-color;
  }

  &__link {
    img {
      width: 24px;
      filter: brightness(0) invert(42%) sepia(92%) saturate(3566%) hue-rotate(239deg) brightness(100%) contrast(94%);
      transition: 0.3s;
    }

    &:hover {
      // background-color: $secondary-color;
      img {
        filter: brightness(0) invert(71%) sepia(93%) saturate(3177%) hue-rotate(326deg) brightness(102%) contrast(101%);
      }
    }
  }
}

