.greeting {
  background-image: url('../assets/images/background.png');

  // &__container {
  //   max-width: 50%;
  //   // margin: 0;
  // }
  // background-position: -90px;
  &__title {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
  }
  &__text {
    max-width: 50%;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
  }
}
