
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import "./app/components/global/variables.scss";
@import "./app/components/global/normalize.scss";
@import "./app/components/global/components.scss";

@import "./app/components/header/header.scss";
@import "./app/components/main/main.scss";
@import "./app/components/footer/footer.scss";

body {
  background: $dark-background-color;
  font-family: Montserrat;
  color: white;
}
