.textbook {
  min-height: calc(100vh - 170px);
  display: grid;
  grid-template-columns: 200px 1fr;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__pages {
    grid-column: 2 / 3;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    
    .pages__control {
      color: $light-text-color;
      padding: 10px;
      background: transparent;

      &_current {
        color: $secondary-color;
        font-size: 1.1em;
      }

      &.hidden {
        display: none;
      }

    }
    

    .pages__numbers {
      background-color: transparent;
    }
  }

}

