.textbook {
  min-height: calc(100vh - 170px);
  display: grid;
  grid-template-columns: 200px 1fr;

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    }
}

